{% extends "base.html" %}

{% block content %}

<div class="hero">

    <div class="hero-card">

        <h1>SecureCI</h1>

        <p class="subtitle">
            Intelligent Software Supply Chain Security Scanner
        </p>

        <form action="/scan"
              method="POST"
              enctype="multipart/form-data">

            <div class="upload-box">

                <input type="file"
                       name="file">

                <button type="submit">
                    Scan Dependencies
                </button>

            </div>

            <div class="text-input-box">

                <h3 class="manual-title">
                    Paste Dependencies
                </h3>

                <textarea
                    name="dependency_text"
                    placeholder="Example:

flask==3.1.3
django==4.2
requests==2.32.5"></textarea>

            </div>

        </form>

    </div>

</div>

{% endblock %}